/* Globals */

body {
}

.inspect {
  border: thin solid red;
}

.inspect .inspect {
  border: thin solid yellow;
}

.inspect .inspect .inspect {
  border: thin solid green;
}

/* Themes */

/* @media (prefers-color-scheme: dark) */

/* App Bar */

.navbar-brand {
  font-weight: bold;
}

.navbar-brand img {
  background-color: #202020;
  border-radius: 50%;
}

.tab-content {
  border: thin solid red;
}

.avatar img {
    border-radius: 20%;
    height: 32px;
    width: 32px;
    margin-right: 0.5em;
  }

.navbar .btn.btn-outline-secondary {
    margin-left: 1em
}

.navbar .fa-info-circle {
  color: blue;
}

/* CANVAS */

.alert .alert {
  border-radius: 1em !important;
}

/* Dapp */

.Dapp .card-body {
}

.Dapp .card-title {
  color: gray;
}


/* Raw */

#raw-data-container {
  max-width: 100vw;
}

#raw-data-container table th {
  word-break: keep-all;
}

#raw-data-container table td {
  word-break: break-all;
}

/* About Modal */

#aboutModal .card-subtitle {
  color: gray;
}

/* Footer */

#ph-email-form {
            box-sizing: border-box;
            text-align: center;
            margin: auto;
            padding: 0;
            margin-bottom: 2em;
            /*
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            flex-direction: row;
            */
          }

          #ph-email {
            border: 1px solid #e8e8e8;
            box-sizing: border-box;
            color: #000;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
            font-size: 13px;
            padding: 8px;
          }

          #ph-subscribe-button {
            margin-left: 10px;
            background: #cc4d29;
            border-radius: 3px;
            border: 1px solid #cc4d29;
            /*box-sizing: border-box;*/
            color: #fff;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
            font-size: 11px;
            font-weight: 600;
            height: 34px;
            letter-spacing: .3px;
            line-height: 16px;
            padding: 0 13px;
            text-transform: uppercase;
          }

          .navbar-brand {
            font-size: larger;
          }
